@import 'variable';
@import 'breakpoint';

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    background-color: $Light-grayish-bg-cyan;
    overflow-x: hidden;
    min-height: 100vh;
}