// Font Family
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$font-family: "League Spartan", sans-serif;


//Font Weights
$weight-500: 500;
$weight-700: 700;


// Font Size
$font-size: 0.9375rem; // 15px


// Colors
$desaturated-dark-cyan: hsl(180, 29%, 50%);
$Light-grayish-bg-cyan: hsl(180, 52%, 96%);
$light-grayish-filter-cyan: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);